<h1>Project de démo</h1>
<!-- <app-parent></app-parent> -->

<p highlight="violet" #monParagraphe="highLight">Lorem ipsum dolor sit amet.</p>

<button (click)="monParagraphe.graisse = 'normal'">click me</button>

<hr />
{{ 12.5 | price: "$" }}

<div #maDiv>Lorem, ipsum dolor.</div>
<input type="text" #colorInput />
<button (click)="modifierCouleur(colorInput.value)">Changer couleur</button>

<hr />
<button (click)="showFrigo = !showFrigo">Aficher/cacher</button>
<button (click)="modifierContenance()">Mofifier contenance</button>
<app-refrigerator
  *ngIf="showFrigo"
  temperature="5"
  [contenance]="contenance"
  couleur="black"
  (onFrigoVide)="handleFrigoVide($event)"
>
  <div class="content">
    <p>Oeufs: 12</p>
    <p>Steaks: 3</p>
  </div>

  <div class="liste" #liste>
    <p>Lait: 1l</p>
    <p>Viande: 500gr</p>
  </div>
</app-refrigerator>

<app-employee firstName="Karl" lastName="Marx">
  <div class="description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint esse
      corporis dolor vero ut dolore recusandae, facilis, temporibus voluptatem
      aliquam impedit mollitia libero tempore laboriosam assumenda fugiat,
      consectetur error minima.
    </p>
  </div>
  <blockquote class="citation">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minima
    perspiciatis adipisci sint deserunt ad excepturi sapiente eum blanditiis a?
  </blockquote>
</app-employee>
